/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;*/

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url(Testmig.jpg);
  background-size: cover;
  background-position: bottom;
  height: 500px;
  position: sticky;
  width: auto;
  border-bottom: 3px solid white;
}

.header-text {
  color: white;
  margin: 0px 25px;
  float: left;
  width: max-content;
}

.head-h1 {
  font-size: 3.5em;
  margin: 2px;
}

.head-h2 {
  font-size: 2em;
  margin: 2px;
}

.head-p {
  font-weight: 1px;
  margin: 2px;
}

.fab {
  width: 20px;
}

.icons {
  display: flex;
  justify-content: flex-end;
  margin: 15px 25px;
}

.icon-pic {
  width: 50%;
  height: 50%;
}

.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 20px;
  width: 40px;
  height: 40px;
}

.icon-linkgreen {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #5ca4a9;
  border-radius: 20px;
  width: 40px;
  height: 40px;
}

.me-pic {
  display: flex;
  justify-content: flex-end;
  margin: 0px 25px;
  margin-bottom: -5%;
  position: sticky;
}

.me {
  width: 115px;
  border: 3px solid white;
  border-radius: 50%;
  align-self: flex-end;
  margin: 0px 25px;
  margin-bottom: -115px;
}

.text {
  margin-top: -15px;
}

.blocks:nth-child(even) {
  background-color: white;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

.blocks:nth-child(odd) {
  background-color: #f4f4f4;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

.main-h2 {
  color: white;
  background-color: #27233A;
  padding: 3px;
  align-self: center;
}

.featured-img {
  width: 250px;
  height: 150px;
}

.withpic-box {
  display: flex;
  flex-direction: column;
}

.article-whitpic {
  color: grey;
  width: 320px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: left;
}

.article-box {
  display: flex;
  flex-direction: column;
}

.short-text {
  color: grey;
  width: 320px;
  text-align: left;
}

h4 {
  align-self: flex-start;
  margin: 9px 25px;
}

h3 {
  color: gray;
  margin: 9px 25px;
}

.thoughts-text {
  color: black;
  font-weight: lighter;
}

.skills {
  display: flex;
  list-style: none;
  padding: 0;
  margin-left: 23px;
  margin-bottom: 0px;
  margin-top: 0px;
  align-self: baseline;
}

.skill-item {
  font-size: 13px;
  color: white;
  background-color: #505168;
  padding: 3px;
  margin: 3px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.detail {
  color: #505168;
}

footer {
  background-color: #5ca4a9;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  height: 250px;
  color: white;
}

ul {
  margin: 0;
  padding: 0;
}

.skill-box {
  justify-content: center;
}

.skill-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  color: tomato;
  padding: 2px;
}

.skill-name {
  color: black;
  list-style: none;
  padding: 2px;
}

.foot-h2 {
  font-size: 2em;
  margin: 2px;
}

.foot-p {
  font-weight: 1px;
  margin: 2px;
}

@media (min-width: 650px) {
  .skill-box {
    flex-direction: row;
    column-count: 4;
  }
  .withpic-box {
    flex-direction: row;
  }
  .short-text {
    width: 100%;
  }
  .icons {
    margin: 15px 125px;
  }
  .header-text {
    margin: 15px 125px;
  }
  .me-pic {
    margin: 15px 125px;
  }
  .text {
    padding: 0 125px;
  }
  .tech-p {
    padding: 0 125px;
  }
}

@media (min-width: 900px) {
  .icons {
    margin: 15px 225px;
  }
  .header-text {
    margin: 15px 225px;
  }
  .me-pic {
    margin: 15px 225px;
  }
  .text {
    padding: 0 225px;
  }
  .tech-p {
    padding: 0 225px;
  }
}